version: '3.8'

services:
  db:
    image: mysql:latest
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin
    restart: always
    environment:
      PMA_HOST: db
    ports:
      - "8080:80"

  tomcat:
    image: tomcat:latest
    container_name: tomcat
    environment:
      - JDBC_URL=jdbc:mysql://db:3306/peliculas
      - JDBC_USER=user
      - JDBC_PASSWORD=user
    ports:
      - "8081:8080"
    volumes:
      - ./src/main/java:/usr/local/tomcat/webapps/ROOT
    links:
      - db

volumes:
  mysql_data:
