body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 39%, rgba(0, 212, 255, 1) 78%);
    ;
}

h1 {
    text-align: center;
    color: #f0f0f0;
    font-size: 2.5em;
    margin: 0;
    padding: 0;
}

form {
    background-color: red;
    margin: 5% 20%;
    padding: 5% 5%;
    align-items: center;
}

button {
    width: 100%;
}

.animated-button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    border: none;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: #ffffff40;
    box-shadow: 0 0 0 2px #ffffff20;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #2196F3;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button span:first-child {
    position: relative;
    z-index: 1;
}

.animated-button:hover {
    box-shadow: 0 0 0 5px #2195f360;
    color: #ffffff;
}

.animated-button:active {
    scale: 0.95;
}

.animated-button:hover span:last-child {
    width: 150px;
    height: 150px;
    opacity: 1;
}